.PlayerBaseDiv
{
    background-color:red;
    width:5px;
    height:5px;
    position:fixed;
    border-radius:2.5px;
}

.ViewDirectionDiv
{
    background-color:greenyellow;
    width:1px;
    height:10px;
    position:relative;
    left:2px;
    bottom:9px;
}