#RadarBase
{
    width: 500px;
    height: 500px;
    background-color: gray;
}

#VerticalGrid
{
    position:fixed;
    top:0;
    left:250px;
    width: 1px;
    height: 500px;
    background-color: black;
}

#HorizontalGrid
{
    position:fixed;
    top:250px;
    left:0;
    width: 500px;
    height: 1px;
    background-color: black;
}